body {
    background-color: #FBF3EB;
}

header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-size: cover;
    z-index: 9999;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 102px;
}


form h2 {
    font-size: 48px;
}

label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
}

.form-input {
    display: block;
    padding: 16px 1px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 15px; 
    border-radius: 10px;

    background: #FFFFFF;
    border-radius: 10px;
}

form {
    background: #E2D8CC;
    border-radius: 7px;
    padding: 20px;
    width: 40%;
    margin: 3.5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 800px;
    height: 650px;
    left: 125px;
    top: 189px;
}

.image1 {
    position: absolute;
    width: 850px;
    height: 700px;
    left: 1300px;
    top: 275px;
    border-radius: 25px;
}

button {
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 38px;
    color: beige;
    background-color: orangered;
    border-radius: 15px;
    border: none;
    padding: 4px 12px;
    width: 176px;
    height: 52px;
    display: flex;
    margin-top: 50px;
}

button a {
    vertical-align: middle;
    margin: auto;
}

button:hover {
    opacity: 50%;
}

